.newclass {
    background-color: #2db19e;
    color: white;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    height: 60px;
    margin-top: -8px;
    margin-bottom: -8px;
    margin-left: 10px;
}

.col-12 {
    text-align: center;
}

.thirdclass {
    background-color: #e2e3e4;
}

.projectsCard {
    padding: 20px;
    margin-top: 40px;
    margin-left: 0px;
}

.aboutpage{
    margin-top: 40px;
}

.card-title {
    text-align: left;
    color: #2db19e;
    font-family: 'Times New Roman', Times, serif;
}

img {
    float: left;
    width: 70%;
    height: 70%;
    margin-left: 10px;
    margin-right: 10px;
}

p {
    margin-left: 10px;
    margin-right: 10px;
}

body {
    background-color: #e2e3e4;
    background-image:url("https://images.unsplash.com/photo-1470790376778-a9fbc86d70e2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.text-new {
    position: relative;
    /* bottom: 10px; */
    top: 60%;
    width: 100%;
    margin-left: 0px;
    background-color: #c95511;
    color: white;
    text-align: center;
    height: 40px;
    font-family: 'Times New Roman', Times, serif;
}
.imageClass{
    border: black;
    border-width: 5px;
}

.aboutarea{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10;
    padding-bottom: 5%;
    padding-right: 5%;
  }

  .bio1{
    padding-right: 10%;
    max-width: 100%;
    font-family: "EB Garamond", serif;
  }

  .mainHeading{
      text-align: center;
      padding-top: 25%;
      font-size: 100px;
      font-style: italic;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  #links1{
      padding-top: 10px;
      font-size: 40px;
      float: left;
      margin-left: 10%;
  }


  #links2{
    padding-top: 10px;
    font-size: 40px;
    float: right;
    margin-right: 10%;
}